@font-face 
{
    font-family: ERASLGHT;
    src: url("font/ERASLGHT");
}



a:visited, a
{
    text-decoration: none;
    color: black;
}

#authentification
{
    text-align: center;
    background-color: #8A5D1D;
    width: 30%;
    height: 175px;
    float: left;
    color: white;
}


body
{
    background-color: #333;
    font-family: "Calibri Light",sans-serif;
    font-size: 1.1em;
}

#page
{
    margin:auto;
    max-width: 1200px;
}

#panier
{
    background-color: #861825;
    width: 30%;
    height: 500px;
    float: left;
    overflow: auto;
}

#panier_png
{
    width: 10%;
    height: auto;
    padding-top: 5px;
    padding-left: 25%;
    margin-right: 5px;
}

#boutons_panier
{
    text-align: center;
}

.libelle_panier
{
    font-size: 1em;
    color: gray;
    font-weight:bold;
    padding-left: 5px;
}

.prix_panier
{
    color: white;
    text-align: right;
    font-size: 1.2em;
    padding-right: 5px;
}

.panier_titre
{
    color:white;
    font-size: 1.4em;
}

.articles_panier
{
    border : white;
    border-top-style: solid;
    border-bottom-style: solid;
}



#contenu
{
    background-color: #EAE5DF;
    width: 70%;
    float: left;
    height: 500px;
    overflow: auto;
}

#titre
{
    display: table-cell;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    color: #4d484d;
}

#titre_img
{
    display: table-cell;
    float: left;
}

#en_tete
{
    background-color: #EAE5DF;
    width: 70%;
    height: 175px;
    float: left;
    font-size: 300%;
    font-family: ERASLGHT, sans-serif;
}

#pied_de_page
{
    background-color: #8A5D1D;
    width: 100%;
    height: 50px;
    clear: both;
    text-align: center;
}

#prix
{
    color: #861825;
    font-weight: bold;
    display: inline-block;
}

.myButton a
{
    color:white;
}

.myButton 
{
    display: inline-block;
    font-family: 'Eras', "Trebuchet MS", serif;
    margin:5px 10px 5px 10px;
    -moz-box-shadow: 0px 10px 9px -7px #404242;
    -webkit-box-shadow: 0px 10px 9px -7px #404242;
    box-shadow: 0px 10px 9px -7px #404242;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5e7e), color-stop(1, #780000));
    background:-moz-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-webkit-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-o-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:-ms-linear-gradient(top, #ff5e7e 5%, #780000 100%);
    background:linear-gradient(to bottom, #ff5e7e 5%, #780000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e7e', endColorstr='#780000',GradientType=0);
    background-color:#ff5e7e;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d484d;
}

.myButton:hover 
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #780000), color-stop(1, #ff5e7e));
    background:-moz-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-webkit-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-o-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:-ms-linear-gradient(top, #780000 5%, #ff5e7e 100%);
    background:linear-gradient(to bottom, #780000 5%, #ff5e7e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#780000', endColorstr='#ff5e7e',GradientType=0);
    background-color:#780000;
}

.myButton:active {
    position:relative;
    top:1px;
}

#desc_article
{
    color: gray;
}

.type_article
{
    display: inline-block;
    margin: 10px;
    width: 45%;
    min-width: 350px;
    border: 2px solid #8A5D1D;
    background-color: white;
}

.type_article img
{
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.type_famille
{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border: 2px solid #8A5D1D;
    background-color: white;
}

.type_famille img
{
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px;
    width: 120px;
    height: 120px;
}

#form input
{
    width: 60%;
    margin-bottom: 10px;
}


#pdp
{
    color: white;
    font-size: 1em;
}

@media screen and (max-width: 576px) 
{
    #en_tete
    {
        width: 100%;
        height: auto;
    }

    #titre
    {
        font-size: 0.8em;
    }

    #authentification
    {
        width: 100%;
        height: auto;
        float: top;
    }

    #panier
    {
        width: 100%;
        height: 100%;
        float: bottom;
    }

    #contenu
    {
        overflow: hidden;
        width: 100%;
        height:auto;
    }

    #pied_de_page
    {
        height: auto;
    }


    .type_article
    {
        width:95%;
    }
}
